/* 默认主题文件 */

/*******************************

整体样式，配色

**********************************/

/* 取消所有元素被选中时的焦点边框颜色 */
*{
    -fx-focus-color: #8caede;
    /*-fx-font-family: 'AmaticSC-Regular';*/
}


/*******************************

树形菜单样式

**********************************/

/* 注意sub-tree-item是在代码中自定义的伪类，此处IDEA无法识别，并不是错误! */

.tree-view .tree-cell{
    -fx-background-color: transparent;
    -fx-padding: 0.8em;
}

.tree-view {
    -fx-background-color: linear-gradient(to bottom, lightblue, #BBD7EC);
    -fx-effect: innershadow(gaussian, #9BBCD8, 10.0, 0, 4, 4);
}

.tree-view .tree-cell{
    -fx-font-family: Arial;
    -fx-font-size: 19px;
}

.tree-view .tree-cell:sub-tree-item{
    -fx-background-color: transparent;
    -fx-text-alignment: center;
}

.tree-view .tree-cell .tree-disclosure-node .arrow{
    -fx-background-color: linear-gradient(to bottom, lightblue, white);
    -fx-effect: dropshadow( gaussian , #496995 , 1 , 1 , 0 , 1 );
    -fx-pref-width: 12px; /* 调整箭头的宽度 */
    -fx-pref-height: 12px; /* 调整箭头的高度 */
}

.tree-view .tree-cell:selected:expanded, .tree-view .tree-cell:sub-tree-item:selected, .tree-view .tree-cell:expanded{
    -fx-text-fill: #3E3A39;
    -fx-font-weight: bold;
    -fx-effect: dropshadow( gaussian , #496995 , 0.5 , 0.5 , 0 , 1 );
    -fx-font-size: 20px;
}

.tree-view .tree-cell:selected{
    -fx-text-fill: #000000;
}

.tree-view .tree-cell:expanded .tree-disclosure-node .arrow{
    -fx-background-color: linear-gradient(to bottom, lightblue, white);
}

.tree-view .tree-cell:hover{
    -fx-font-size:21px;
    -fx-background-color: lightblue;
    -fx-effect: dropshadow(gaussian, #88abda, 20.0, 0,10,10);
    -fx-background-radius: 0.0 8 8 8;
    -fx-opacity: 0.8;
    -fx-padding: 0.8em;
}


/*******************************

顶部菜单栏样式

**********************************/
.menu-bar {
    -fx-pref-width: 60px;
    -fx-pref-height: 48px;
    -fx-font-size:  19px ;
    -fx-font-family: "Verdana";
    -fx-background-color: linear-gradient(to bottom, #a1c0de, lightblue);
    -fx-text-fill: #ffffff;
    /*-fx-opacity: 0.5;*/
    -fx-effect: dropshadow(gaussian, #6f8693, 20.0, 0,0,0);
}

.menu-button {
    -fx-pref-height: 62px;
}

.menu-button:hover, .menu-button:focused, .menu-button:showing {
    -fx-font-family: Arial;
    -fx-padding: 0.5em;
    -fx-background-color: linear-gradient(to bottom, #003152, #152F60);
    -fx-opacity: 0.8;
    -fx-text-fill: white;
    -fx-background-radius: 0.0 6.0 6.0 6.0;
    -fx-effect: dropshadow(gaussian, #6f8693, 20.0, 0,10,10);
    -fx-font-size:  20px ;
}

/*******************************

上下文菜单样式

**********************************/

.context-menu{
    -fx-background-color: linear-gradient(to bottom, #93b5d0, lightblue);
    -fx-background-insets: 0.0;
    -fx-background-radius: 0.0 6.0 6.0 6.0;
    -fx-padding: 0.6em 0.2em 0.6em 0.2em;
    -fx-font-size:  18px ;
}

.context-menu .menu-item:hover, .context-menu .menu-item:focused{
    -fx-background-color: #152f60;
    -fx-background-radius: 0.0 6.0 6.0 6.0;
    -fx-opacity: 0.8;
    -fx-effect: dropshadow(gaussian, #6f8693, 20.0, 0,10,10);
    -fx-padding: 0.6em;
}



/*******************************

 TableView样式

 ********************************/

/* 取消行分割线 */
.table-row-cell{
    -fx-background-insets: 0;
    -fx-cell-size: 36px;
}

/* 取消列分割线，并使内容居中 */
.table-view .table-row-cell .table-cell{
    -fx-font-family: Arial;
    -fx-border-width: 0px;
    -fx-alignment: center;
    -fx-font-size: 18px;
    -fx-font-family: Arial;
}

/* 奇数行的颜色 */
.table-view .table-row-cell:odd{
    -fx-background-color: #eafbfd;
}

/* 偶数行的颜色 */
.table-view .table-row-cell:even{
    -fx-background-color: #effdff;
}

/* 被选中行的颜色 */
.table-view .table-row-cell:odd:selected, .table-view .table-row-cell:even:selected{
    -fx-background-color: #B9D4EE;
}

/* 鼠标所在行的颜色 */
.table-view .table-row-cell:hover{
    -fx-background-color: #dffaff;
}

/* 被选中的行的颜色 用于覆盖JavaFX的默认行为 */
.table-view:focused .table-row-cell:selected, .table-row-cell:hover:selected{
    -fx-background: #B9D4EE;
}

/* 调整列标题字重 */
.table-view .column-header{
    -fx-font-size: 18px;
    -fx-font-family: Arial;
    -fx-font-weight: lighter;
    -fx-background-color: #799ba1;
    -fx-border-width: 0px 1px 0px 0px;
    -fx-border-color: #afafaf;
    -fx-header-height: 60px;
}

/* 列头文字颜色 */
.table-view .column-header .label{
    -fx-text-fill: #ffffff;
    -fx-font-size:15px;
}

/* 改变无数据列的列头背景 */
.table-view .filler{
    -fx-background-color: #799ba1;
}

.table-view .column-header-background {
    -fx-pref-height: 40px; /* 设置标题行的高度为 50 像素 */
}

/***************************

ComboBox样式

*****************************/

.combo-box{
    -fx-background-color: #ffffff;
    -fx-background-radius: 6 6 6 6;
    -fx-border-radius: 5px;
}

.combo-box:focused{
    -fx-border-color:#5ea2af;
}

.combo-box .list-cell {
    -fx-font-size: 19px; /* 设置 ComboBox 内容的字体大小 */
    -fx-font-family:"Arial";
}

.combo-box .list-cell:hover {
    -fx-background-color: #d0dfe5;
    /*-fx-background-radius: 6 6 6 6;*/
    -fx-text-fill: #000000;
    -fx-effect: dropshadow(gaussian, #6f8693, 20.0, 0,10,10);
}

.combo-box .combo-box-popup .list-cell:focused{
    -fx-background-color: #c3d6e0;
    -fx-text-fill: #000000;
    -fx-effect: dropshadow(gaussian, #6f8693, 20.0, 0,10,10);
}

.combo-box .combo-box-popup .list-view{
    -fx-background-radius: 0 8 8 8;
    /*-fx-padding: 5 5 5 5;*/
}

.combo-box .combo-box-popup .list-view .list-cell{
    -fx-padding: 5;
}

.genderComboBox:focused {
    -fx-border-radius: 5px;
    -fx-border-color: #5ea2af;
}

.genderComboBox{
    -fx-border-radius: 5px;
    -fx-background-color: #ffffff;
    -fx-border-color: #bbb5ac;
}
/*.combo-box-base {

    -fx-background-insets:1 1 1 1;
    -fx-background-color:red;
}*/

/*.combo-box
{
    -fx-background-color: red, red, red, red;
    -fx-background-radius: 5, 5, 4, 3;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-padding: 0;
}*/

.genderComboBox:not(empty) {
    /* 有内容时的边框颜色 */
    -fx-border-color: green; /* 设置有内容时的边框颜色为绿色 */
}


/***************************

TabPane样式

*****************************/
.tab-pane .tab{
    -fx-background-color: #c8d1ec;
    -fx-background-radius: 10;
    -fx-effect: innershadow(gaussian, lightblue, 10, 0,0,0);
}

.tab-pane .tab:selected{
    -fx-background-color: #a1aad0;
    -fx-focus-color: #ffffff;
}

.tab-pane .tab:selected .tab-label{
    -fx-text-fill: #ffffff;
}

.tab-pane .tab-header-area .tab-header-background{
    -fx-background-color: #effdff;
}

/***************************

Button样式

*****************************/

.button {
    -fx-font-family: "Arial"; /* 设置字体系列为 Arial */
    -fx-font-size: 18px;
    -fx-background-color: linear-gradient(to top, #9fd1ff, lightblue);
    -fx-padding: 5 10 5 10;
    -fx-font-weight: lighter;
    /*-fx-effect: dropshadow(gaussian, lightblue, 10,0,0,0);*/
}

.button:hover{
    -fx-background-color: linear-gradient(to top, lightblue, #d4e5ef);
    -fx-effect: dropshadow(gaussian, #90c7f0, 10,0,0,0);
    -fx-font-size: 20px;
}

.login-button{
    -fx-skin: 'com.teach.javafx.mySkin.MyButtonSkin';
}

.login-button:hover{
    -fx-skin: 'com.teach.javafx.mySkin.MyButtonSkin';
    -fx-background-color: #930f15;
}



/***************************

BorderPane样式

*****************************/

.borderpane-container {
    -fx-background-color: #effdff;
}

/***************************

VBox样式

*****************************/

VBox {
    -fx-background-color: #effdff;
}

/***************************

AnchorPane样式

*****************************/

AnchorPane {
    -fx-background-color: #effdff;
}

/***************************

ImageView样式

*****************************/

.image-view{
    -fx-effect: dropshadow(gaussian, black,15,0,0,0);
}


/***************************

一些自定义选择类

*****************************/

.simple-info .student-dashboard-info{
    -fx-font-size: 20px;
    -fx-font-weight: bold;
}

.greetings-label{
    -fx-font-size: 30px;
    -fx-text-fill: #2f4a52;
    -fx-effect: dropshadow(gaussian, lightblue, 10,0,0,0);
    -fx-font-weight: lighter;
}

.simple-info{
    -fx-border-style: solid;
    -fx-border-color: grey;
    -fx-border-width: 3 3 5 3;
    -fx-border-radius: 10;
    -fx-padding: 20px;
}

.setting-label{
    -fx-font-family: "Arial";
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-padding: 5px;
}

.grid-pane {
    -fx-font-family: "Arial"; /* 设置字体系列为 Arial */
    -fx-font-size: 14px; /* 设置字体大小为 14 像素 */
}

.intro-label{
    -fx-font-family: "Arial";
    -fx-font-size: 18px;
}

.grid-pane .label {
    -fx-font-family: "Arial"; /* 设置字体系列为 Arial */
}

.mfx-text-field:floating .floating-text {
     -fx-text-fill: #5ea2af;
 }

.mfx-text-field:floating{
     -fx-border-color:#5ea2af;
}

.mfx-text-field {
    -fx-border-color: #bbb5ac;
    -fx-border-radius: 5px;
    -fx-font-size: 16px;
    -fx-border-width: 1px;
}

.mfx-text-field .floating-text {
     -fx-text-fill: #6a6c70;
 }

.birthPicker{
     -fx-background-color: #ffffff;
     -fx-border-color: #bbb5ac;
     -fx-border-radius: 5px;
}

.birthPicker:focused{
     -fx-background-color: #ffffff;
     -fx-border-color: #5ea2af;
     -fx-border-radius: 5px;
}

.flow-pane {
    -fx-background-color: red;
}

.label{
    -fx-font-family:"Arial";
}

/*.mfx-spinner:focused,
.mfx-spinner:focus-within {
	-fx-border-color: -mfx-#6a6c70;
}*/

