/* 登录页面的文本输入框样式 */

.mfx-text-field {
    -fx-border-color: #930e14;
    -fx-border-radius: 20px;
    -fx-font-size: 18px;
}

.mfx-text-field .floating-text {
    -fx-font-family: 'Open Sans SemiBold';
    -fx-font-size: 15px;
    -fx-text-fill: #930e14;
}