.container{
    -fx-background-image: url('../picture/drawTemplate.jpg');
    -fx-background-size: cover;
}

.basic-label{
    -fx-text-fill: #ffffff;
}

.name{
    -fx-text-fill: black;
    -fx-font-size: 40;
}

*{
    -fx-font-size:13px;
}